include katsu_service/katsu/workflows/*.wdl
include katsu_service/katsu/tests/*.json
include katsu_service/dats/*
include katsu_service/mcode/tests/*.json
include katsu_service/package.cfg
include katsu_service/restapi/tests/*.json
